Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element contains 10 hotels-->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>

        <!-- The total number of hotels is unbounded -->
        <xs:element maxOccurs="unbounded" name="Hotel">
          <xs:complexType>
            <xs:sequence>

              <!-- Hotel name attrebutes: string, required -->
              <xs:element name="Name" type="xs:string" />

              <!-- Phone numbers attributes: string, can appear multiple times -->
              <xs:element maxOccurs="unbounded" name="Phone" type="xs:string" />

              <!-- Address element (complex type) -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="Number" type="xs:unsignedShort" /> <!-- Street number -->
                    <xs:element name="Street" type="xs:string" />        <!-- Street name -->
                    <xs:element name="City" type="xs:string" />          <!-- City name -->
                    <xs:element name="State" type="xs:string" />         <!-- State name -->
                    <xs:element name="Zip" type="xs:unsignedInt" />      <!-- ZIP code -->

                  </xs:sequence>

                  <!-- NearstAirport (required) -->
                  <xs:attribute name="NearstAirport" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>

            </xs:sequence>

            <!-- Rating of the hotels -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional" />

          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
